/*
orange color - #cf6d17

*/
 /*----------------------------- 
/* BASIC SETUP */
/* ----------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ----------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

.flex-row {
    display: flex;
    align-items: center;
}

section {
    padding: 80px 0;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* ----------------------------- */
/* HEADINGS */
/* ----------------------------- */

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    color: #fff;
    font-size: 240%;  
    margin-top: 0;
    margin-bottom: 20px;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    content: " ";
    background-color: #cf6d17;
    height: 2px;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    word-spacing: 1px;
    margin: 20px 0;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}

.long-copy {
    line-height: 150%;
    width: 70%;
    margin: 0 auto; 
}

/* ----------------------------- */
/* BUTTONS */
/* ----------------------------- */

.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 1.5em;
    border: 1px solid #e67e22;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
    color: #e67e22;
}

.btn-full:link, .btn-full:visited {
    color: #fff;
    background-color: #e67e22;
}

.btn:hover, .btn:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* ----------------------------- */
/* NAVIGATION */
/* ----------------------------- */

.navigation {
    list-style-type: none;
    margin-left: auto;
}

.navigation li {
    display: inline-block;
    white-space: nowrap;
    margin-left: 40px;
}

.navigation li a:link, .navigation li a:visited {
    text-transform: uppercase;
    color: #fff;
    font-size: 90%;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.navigation li a:hover, .navigation li a:active {
    border-bottom: 2px solid #cf6d17;
}

/* ----------------------------- */
/* ICONS */
/* ----------------------------- */

.icon-bg {
    font-size: 350%;
    color: #cf6d17;
    display: block;
}
