/*
orange color - #cf6d17

*/
 /*----------------------------- 
/* BASIC SETUP */
/* ----------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

section {
    padding: 80px 0;
}

/* ----------------------------- */
/* LINKS */
/* ----------------------------- */

a:link, a:visited {
    text-decoration: none;
    color: #cf6d17;
    padding-bottom: 1px;
    border-bottom: 1px solid #cf6d17;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover, a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----------------------------- */
/* HEADINGS */
/* ----------------------------- */

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    color: #fff;
    font-size: 240%;  
    margin-top: 0;
    margin-bottom: 20px;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    content: " ";
    background-color: #cf6d17;
    height: 2px;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    word-spacing: 1px;
    margin: 20px 0;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}

.long-copy {
    line-height: 150%;
    width: 70%;
    margin: 0 auto;
}

/* ----------------------------- */
/* BUTTONS */
/* ----------------------------- */

.btn:link, .btn:visited, input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 1.5em;
    border: 1px solid #e67e22;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
    color: #e67e22;
}

.btn-full:link, .btn-full:visited, input[type=submit] {
    color: #fff;
    background-color: #e67e22;
}

.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ----------------------------- */
/* COMMONS */
/* ----------------------------- */

header, #section-testimonials {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* ----------------------------- */
/* NAVIGATION */
/* ----------------------------- */

.navigation {
    list-style-type: none;
    margin-left: auto;
}

.navigation li {
    display: inline-block;
    white-space: nowrap;
    margin-left: 40px;
}

.navigation li a:link, .navigation li a:visited {
    text-transform: uppercase;
    color: #fff;
    font-size: 90%;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.navigation li a:hover, .navigation li a:active {
    border-bottom: 2px solid #cf6d17;
}

nav .flex-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/* ----------------------------- */
/* ICONS */
/* ----------------------------- */

.icon-bg {
    font-size: 350%;
    display: block;
}

.icon-sml {
    font-size: 120%;
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

.icon-sml, .icon-bg {
    color: #cf6d17;
}

/* ----------------------------- */
/* SECTIONS */
/* ----------------------------- */

#section-favorite {
    padding: 0;
}

#section-features .long-copy {
    margin-bottom: 40px;
}

#section-how, #section-price {
    background-color: #f4f4f4;
}

#section-testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url("img/back-customers.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("img/back-customers.jpg");
}
/* ----------------------------- */
/* MEALS */
/* ----------------------------- */

.meal-showcase {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.meal-showcase li {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.7;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* ----------------------------- */
/* HOW IT WORKS */
/* ----------------------------- */

.steps div {
    display: inline-block;
    width: 55px;
    height: 55px;
    color: #cf6d17;
    border: 2px solid #cf6d17;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}

.steps:last-of-type {
    margin-bottom: 80px;
}

.step-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box:last-child {
    padding-left: 3%;
    margin-top: 70px;

}

.app-screen {
    max-width: 40%;
    height: auto;
}

.btn-app:link, .btn-app:visited {
    border: 0;
}

.btn-app img {
    margin-right: 10px;
    height: 50px;
    width: auto;
}

/* ----------------------------- */
/* CITIES */
/* ----------------------------- */

.box img {
    width: 100%;
}

.cities-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cities-info a {
    font-size: 90%;
}

/* ----------------------------- */
/* CUSTOMER TESTIMONIALS */
/* ----------------------------- */

#section-testimonials h2, blockquote, cite {
    color: #fff;
}

.testimonials cite {
    margin-top: 25px;
    font-size: 90%;
    display: block;
}

.testimonials img {
    width: 45px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.testimonials blockquote {
    font-style: italic;
    padding: 2%;
    line-height: 145%;
    position: relative;
}

.testimonials blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
}

/* ----------------------------- */
/* PRICE PLAN */
/* ----------------------------- */

.plan-price span {
    font-size: 300%;
    letter-spacing: 2px;
    font-weight: 100;
}

.plan-price {
    color: #cf6d17;
    margin-bottom: 20px;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box ul {
    list-style-type: none;
}

.plan-box li {
    line-height: 150%;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-radius: 5px;
}

/* ----------------------------- */
/* CONTACT FORM */
/* ----------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    border: 2px solid #cccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/* ----------------------------- */
/* FOOTER */
/* ----------------------------- */

footer {
    background-color: #333;
    padding: 10px 0 40px;
    font-size: 80%;
}

footer ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer li {
    margin-right: 20px;
}

footer li a:link, footer li a:visited {
    white-space: nowrap;
    color: #888;
    border: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

footer li a:hover, footer li a:active {
    color: #ddd;
}

footer li:last-child {
    margin-right: 0;
}

footer p {
    margin-top: 20px;
    color: #888;
    text-align: center;
}

.socials {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.socials li {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover, ion-social-facebook:active {
    color: #3b5998;
}

.ion-social-twitter:hover, ion-social-twitter:active {
    color: #00aced;
}

.ion-social-googleplus:hover, ion-social-googleplus:active {
    color: #dd4b39;
}

.ion-social-instagram:hover, ion-social-instagram:active {
    color: #517fa4;
}